<!DOCTYPE html>
{% extends 'index.html' %}

{% block body_block %}

    <script type="text/javascript">

    /* URL RESOLVER */

    </script>

    <!-- ALL_QUESTIONS SUB_HEADER -->

    <div class="container-fluid"  style="padding-top: 0.1cm;">
	<div class="  col-md-8 col-md-offset-2" role="navigation">

        <ul class="nav nav-tabs">
          <li style="float: right;"><a href="/questions/unanswered/">Unanswered</a></li>
          <li style="float: right;"><a href="/questions/num_votes/">Votes</a></li>
          <li style="float: right;" class="active"><a href="/questions/latest/">Latest</a></li>

        <h4 style="text-align: left; font-size:18px; font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif; font-weight: bold;">
            All Questions
        </h4>

        </ul>

	</div>
	</div>


    <!-- ALL_QUESTIONS PAGE CONTENT -->

    <div class="container-fluid"  style="padding-top: 0.1cm; padding-bottom: 3.3cm;">
	<div class="  col-md-8 col-md-offset-2" role="navigation">

        {% for post in posts %}

    <div style="padding-top: 0.3cm;">
    </div>

    <div id="mainbar">
    <form id="postform" role="form" method="POST">
        <div id="questions" class="content-padding">
            <div id="question-summary" class="question-summary">

                    <div class="stats-container">
                    <div class="stats-arrow">
                    </div>
                    <div class="stats" style="width: 7%; float:left; ">
                        <div class="vote">
                            <div class="votes">
                               <span class="vote-count-post">
                                    {{ post.num_votes }}
                               </span>
                               <div class="viewcount">
                                   votes
                               </div>
                            </div>
                        </div>


                        
                    </div>

		<div style="width: 7%; float:left; " class="stats">
                        <div class="vote">
                            <div class="votes">
                               <span class="vote-count-post" style="color:#9A4444;">
                                      {{ post.ans_count }}
                               </span>
                               <div class="viewcount" style="color:#9A4444;">
                                   ans
                               </div>
                            </div>
                        </div>


                       
                    </div>
                    </div>





                    <div class="summary" style="float: left; width: 80%; padding-left: 10px;">
                    <h3>
                        <a class="question-hyperlink" href="/questions/{{ post.id }}" style="font-size: 16px;" >
                            {{ post.title }}
                        </a>
                    </h3>
                    <div class="excerpt">
                        {{ post.body }}
                    </div>
                    <div class="tags t-search">
                        <a class="post-tag" rel="tag" title="" href="/questions/tagged_questions/{{ post.category.pk }}">
                            {{ post.category|lower|capfirst }}
                        </a>
                    </div>
                    <div class="started-fr">
                        <div class="user-info" style=" width: 100%;">
                            <div class="user-action-time" style="float: right; padding-top: 0.1cm; ">
                                asked by
				<a class="" rel="user-profile" title="Registered User" href="/aakashuser/view_profile/">

                                <span class="relativetime" title="2014-06-17 14:05:09Z">
                                    {{ post.creator.user.username }}
                                </span>
				</a>
                            </div>
                            <!--<div class="user-gravatar32">
                                <a href="/users/1"> 
                                    <div class="gravatar-wrapper-32">
                                    </div>
                                </a> 
                            </div> -->
                            <div class="user-details">
                                <a href="/users/1">
                                </a>
                                <br>
                                </br>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    {% endfor %}

    </div>
    </div>
</form>

{% endblock %}


