<!DOCTYPE html>
{% extends "index.html" %}

{% block body_block  %}

    <div class="container-fluid"  style="padding-top: 0.5cm; padding-bottom: 0.2cm;">
	<div class="  col-md-8 col-md-offset-2" role="navigation">

        <ul class="nav nav-tabs">
          
          <li style="float: right;" class="active"><a href="#">New</a></li>
        <h4 style="text-align: left; font-size:18px; font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif; font-weight: bold;">
            Tags
        </h4>

        </ul>

        <p style="font-size: 15px; padding-top: 1cm; vertical-align: baseline; clear: both; margin-bottom: 1em; font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;">
              A tag is a keyword or label that categorizes your question with other, similar questions. Using the right tags makes it easier for others to find and answer your question.
        </p>
    </div>
    </div>
    <div id="post_body" class="col-md-8 col-md-offset-2" style="padding-top: 0.5cm">
     <table id="tags-browser">
        <tbody>
            <tr>
            {% for tag in tags %}

                <td class="tag-cell">
                    <a class="post-tag" rel="tag" title="" href="/questions/tagged_questions/{{ tag.pk }}/">
                       {{ tag.category|lower|capfirst }}
                    </a>
                    <span class="item-multiplier">
                        <span class="item-multiplier-x">
                            x
                        </span>
                        <span class="item-multiplier-count">
                           {{ tag.count|default:"0" }}
                        </span>
                    </span>
                    <div class="excerpt">
                        
                        {{ tag.description }}
                    </div>
                </td>
                {% if forloop.counter|divisibleby:"3" %}
            </tr>
            <tr>
                {% endif %}
    		{% endfor %}
            </tr>
        </tbody>

    </table>
    {% if error_msg %}
    <p style="font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif; font-size: 18px;">
        {{ error_msg }}
    </p>
    <hr>
    {% endif %}
    </div>

    <div style="padding-top:24cm;">
    </div>

{% endblock %}
